body {
background-color: black;
font-family: "Raleway", "Open Sans";
color: white;
margin: 0;
border: 0;
padding: 0;
}

.navbar {
    background-color: transparent;
    font-family: "Open Sans";
    color: white;
}

.iconHeader {
    background-color: #0DCAF0;
    margin: auto;
    text-align: center;
}

.cardbodySection  {
    background-color: #0DCAF0;
}

footer {
    background-color: #0DCAF0;
}