body {
background-color: black;
font-family: "Raleway", "Open Sans";
color: white;
margin: 0;
border: 0;
padding: 0;
}

.navbar {
    background-color: transparent;
    background: repeat;
    font-family: "Open Sans";
    color: white;
}

.navbarNav {
    text-align: left;
}

.iconHeader {
    background-color: #0DCAF0;
    text-align: center;
    width: 20rem;
}

/*Section Cards Destacados*/
.cardbodySection  {
    background-color: #0DCAF0;
    text-align: justify;
    font-family: "Raleway";
    
}

/*Footer*/
footer {
    background-color: #0DCAF0;
}